<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag :all %>
    <!--[if IE 6]>
      <%= stylesheet_link_tag :ie6 %>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">悪徳商法？マニアックス</a>
          <ul class="nav">
            <li><%= link_to "タグ一覧", "/tags.html" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id="main" role="main">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span8">
            <aside>
              <h2>最近の記事</h2>
              <ol>
                <% blog.articles[0...10].each do |article| %>
                  <li><%= link_to article.title, article %> <span><%= article.date.strftime('%Y年%-m月%-d日') %></span></li>
                <% end %>
              </ol>
            </aside>
          </div>
          <div class="span3 offset1">
            <p>
              <%= link_to "悪徳商法？マニアックス", "http://www6.big.or.jp/~beyond/akutoku/" %>
            </p>
          </div>
        </div>
        <div class="row" style="text-align: center">
          <hr />
          Copyright(C) 1997-2013, Beyond. All Rights Reserved.<br/>
          since 1997/09/03
        </div>
      </div>
    </footer>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47540485-1', 'a902.net');
  ga('send', 'pageview');

</script>
<!-- admax -->
<script type="text/javascript" src="http://adm.shinobi.jp/s/06912ac0a4d72d15a6419af359caa9b7"></script>
<!-- admax -->
  </body>
</html>
