---
title: タグ
---
<ul class="tag_box inline">
	<% blog.tags.sort.each do |tag, articles| %>
    <li><a href="tags.html#<%= tag %>-ref"><%= tag %><span><%= articles.size %></span></a></li>
  <% end %>
</ul>

<% blog.tags.sort.each do |tag, articles| %>
	<h2 id="<%= tag %>-ref"><%= tag %></h2>
  <ul>
		<% articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
		<% end %>
  </ul>
<% end %>
